In [1]:
!pip install cn-protect

Collecting cn-protect
  Downloading https://files.pythonhosted.org/packages/06/bf/931056891d0bc98ca0b5dd7991b47d670d154770dcae90c73330226ed52f/cn-protect-0.9.4.tar.gz (36.8MB)
     |████████████████████████████████| 36.8MB 116kB/s
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from cn-protect) (0.25.3)
Collecting validators
  Downloading https://files.pythonhosted.org/packages/4d/56/9b48c918ef118ea12b90f227c4498ed4703b418bdd8fb49479dfcbeae4ef/validators-0.14.2.tar.gz
Collecting pycountry
  Downloading https://files.pythonhosted.org/packages/16/b6/154fe93072051d8ce7bf197690957b6d0ac9a21d51c9a1d05bd7c6fdb16f/pycountry-19.8.18.tar.gz (10.0MB)
     |████████████████████████████████| 10.0MB 41.3MB/s
Collecting pyjnius>=1.2.0
  Downloading https://files.pythonhosted.org/packages/e8/4f/e3d9f4bb53f7f1854f81a279c274c4ad8537e4d71117258515158403bc10/pyjnius-1.2.1-cp36-cp36m-manylinux2010_x86_64.whl (1.1MB)
     |████████████████████████████████| 1.1MB 26.8MB/s
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->cn-protect) (1.17.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->cn-protect) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->cn-protect) (2018.9)
Requirement already satisfied: six>=1.4.0 in /usr/local/lib/python3.6/dist-packages (from validators->cn-protect) (1.12.0)
Requirement already satisfied: decorator>=3.4.0 in /usr/local/lib/python3.6/dist-packages (from validators->cn-protect) (4.4.1)
Requirement already satisfied: cython in /usr/local/lib/python3.6/dist-packages (from pyjnius>=1.2.0->cn-protect) (0.29.15)
Building wheels for collected packages: cn-protect, validators, pycountry
  Building wheel for cn-protect (setup.py) ... done
  Created wheel for cn-protect: filename=cn_protect-0.9.4-cp36-none-any.whl size=36821891 sha256=673fea0b7b907f1d625f4916a4451aa028251a5318e7368fdaeadbee3e02e759
  Stored in directory: /root/.cache/pip/wheels/f6/b3/26/a9bceb811be70162e4eb58ce91d7d026f9576221b5c4ce5a0c
  Building wheel for validators (setup.py) ... done
  Created wheel for validators: filename=validators-0.14.2-cp36-none-any.whl size=17249 sha256=ed029a53947d271a2a5e30ce49035dd8cd56fd386165a356cd3957cf535f253e
  Stored in directory: /root/.cache/pip/wheels/46/e4/bb/0c8fc33769e30e0049771579b608e6a0d4a00db8a1a29e7ce7
  Building wheel for pycountry (setup.py) ... done
  Created wheel for pycountry: filename=pycountry-19.8.18-py2.py3-none-any.whl size=10627361 sha256=98ead4675e8dbb52c2cd6a3f81c000c0e3f1bffea02a56a43bd471fac86ed521
  Stored in directory: /root/.cache/pip/wheels/a2/98/bf/f0fa1c6bf8cf2cbdb750d583f84be51c2cd8272460b8b36bd3
Successfully built cn-protect validators pycountry
Installing collected packages: validators, pycountry, pyjnius, cn-protect
Successfully installed cn-protect-0.9.4 pycountry-19.8.18 pyjnius-1.2.1 validators-0.14.2

In [2]:
#importing os to set environment variable
import os
def install_java():
  #install openjdk
  !apt-get install -y openjdk-11-jdk-headless -qq > /dev/null

  #set environment variable
  os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"

  #check java version
  !java -version
  
install_java()
from cn.protect import Protect
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment (build 11.0.6+10-post-Ubuntu-1ubuntu118.04.1)
OpenJDK 64-Bit Server VM (build 11.0.6+10-post-Ubuntu-1ubuntu118.04.1, mixed mode, sharing)

In [0]:
from cn.protect.privacy import KAnonymity

In [4]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
root_path = "/content/gdrive/My Drive"

In [0]:
df=pd.read_csv(root_path+'/data_final.csv')

In [7]:
df.head()

      ID  age  gender  ... Eyes_Affected Recent_BP Diabetes
0  73557   25    Male  ...             1     120.0        2
1  73558   38    Male  ...             1     128.0        2
2  73559   28    Male  ...             1     136.0        2
3  73560   44    Male  ...             0     136.0        0
4  73561   18  Female  ...             0     136.0        0

[5 rows x 20 columns]

In [8]:
df

         ID  age  gender  ... Eyes_Affected Recent_BP Diabetes
0     73557   25    Male  ...             1     120.0        2
1     73558   38    Male  ...             1     128.0        2
2     73559   28    Male  ...             1     136.0        2
3     73560   44    Male  ...             0     136.0        0
4     73561   18  Female  ...             0     136.0        0
...     ...  ...     ...  ...           ...       ...      ...
9808  83727   66  Female  ...             0     120.0        0
9809  83728   47  Female  ...             0     120.0        0
9810  83729   57    Male  ...             0     120.0        0
9811  83730   30  Female  ...             0     120.0        0
9812  83731   26    Male  ...             0     120.0        0

[9813 rows x 20 columns]

In [0]:
from cn.protect.privacy import KAnonymity
from cn.protect.hierarchy import DataHierarchy , OrderHierarchy ,IntervalHierarchy
from cn.protect.quality import Loss

In [0]:
prot = Protect(df , KAnonymity(5))

In [0]:
prot.suppression = .3

In [25]:
df.columns

Index(['ID', 'age', 'gender', 'native-country', 'race', 'marital-status',
       'workclass', 'occupation', 'income', 'People_Family', 'education',
       'GlycoHemoglobin', 'ArmCircum', 'SaggitalAbdominal', 'GripStrength',
       'Taking_Insulin', 'Taking_Oral_Agents', 'Eyes_Affected', 'Recent_BP',
       'Diabetes'],
      dtype='object')

In [26]:
prot.itypes.ID = 'identifying'
cols = ['age', 'gender', 'native-country', 'race', 'marital-status',
       'workclass', 'occupation', 'income', 'People_Family', 'education',
       'GlycoHemoglobin', 'ArmCircum', 'SaggitalAbdominal', 'GripStrength',
       'Taking_Insulin', 'Taking_Oral_Agents', 'Eyes_Affected', 'Recent_BP',
       'Diabetes']
for col in cols:
  prot.itypes[col] = 'quasi' 
coli = ['Taking_Insulin', 'Taking_Oral_Agents', 'Eyes_Affected']

for i in coli:
  prot.itypes[i]='insensitive'
prot.itypes.Diabetes = 'insensitive'
prot.itypes

ID                    IDENTIFYING
age                         QUASI
gender                      QUASI
native-country              QUASI
race                        QUASI
marital-status              QUASI
workclass                   QUASI
occupation                  QUASI
income                      QUASI
People_Family               QUASI
education                   QUASI
GlycoHemoglobin             QUASI
ArmCircum                   QUASI
SaggitalAbdominal           QUASI
GripStrength                QUASI
Taking_Insulin        INSENSITIVE
Taking_Oral_Agents    INSENSITIVE
Eyes_Affected         INSENSITIVE
Recent_BP                   QUASI
Diabetes              INSENSITIVE
dtype: object

In [27]:
df.describe()

                 ID          age  ...    Recent_BP     Diabetes
count   9813.000000  9813.000000  ...  9813.000000  9813.000000
mean   78644.559971    38.744523  ...   182.933456     0.182921
std     2938.592266    13.861085  ...   657.625877     0.522102
min    73557.000000    17.000000  ...    88.000000     0.000000
25%    76092.000000    28.000000  ...   120.000000     0.000000
50%    78643.000000    37.000000  ...   120.000000     0.000000
75%    81191.000000    48.000000  ...   130.000000     0.000000
max    83731.000000    90.000000  ...  7777.000000     2.000000

[8 rows x 12 columns]

In [0]:
prot.hierarchies.age = OrderHierarchy('interval',5,2,2)
#prot.hierarchies.Recent_BP = OrderHierarchy('interval',3,2,2)

In [29]:
'''prot.hierarchies.Recent_BP = OrderHierarchy('interval', 3, 2, 2)
prot.hierarchies.GlycoHemoglobin = OrderHierarchy('interval',2,2,2)
prot.hierarchies.GripStrength = OrderHierarchy('interval',4,3,2)'''

"prot.hierarchies.Recent_BP = OrderHierarchy('interval', 3, 2, 2)\nprot.hierarchies.GlycoHemoglobin = OrderHierarchy('interval',2,2,2)\nprot.hierarchies.GripStrength = OrderHierarchy('interval',4,3,2)"

In [0]:
priv = prot.protect()

In [31]:
priv.nunique()

ID                     1
age                    5
gender                 3
native-country        10
race                   6
marital-status         7
workclass              8
occupation             1
income                 3
People_Family          1
education              1
GlycoHemoglobin        1
ArmCircum              1
SaggitalAbdominal      1
GripStrength           1
Taking_Insulin         2
Taking_Oral_Agents     2
Eyes_Affected          2
Recent_BP              1
Diabetes               3
dtype: int64

In [36]:
priv.head()

  ID       age  gender  ... Eyes_Affected Recent_BP Diabetes
0  *  [17, 36]    Male  ...             1         *        2
1  *  [37, 56]    Male  ...             1         *        2
2  *  [17, 36]    Male  ...             1         *        2
3  *  [37, 56]    Male  ...             0         *        0
4  *  [17, 36]  Female  ...             0         *        0

[5 rows x 20 columns]

In [0]:
priv.to_csv(root_path + '/age_general.csv',index=False)

In [0]:
df2 = pd.read_csv(root_path + '/age_general.csv')

In [0]:
df.iloc[:,1] = df2.iloc[:,1]

In [46]:
df['age']

0       [17, 36]
1       [37, 56]
2       [17, 36]
3       [37, 56]
4       [17, 36]
          ...
9808           *
9809    [37, 56]
9810    [57, 76]
9811           *
9812    [17, 36]
Name: age, Length: 9813, dtype: object

In [0]:
df.to_csv(root_path + '/new_data.csv',index=False)

In [0]:
protbp = Protect(df , KAnonymity(5))

In [0]:
protbp.suppression = .1

In [50]:
protbp.itypes.ID = 'identifying'
cols = ['age', 'gender', 'native-country', 'race', 'marital-status',
       'workclass', 'occupation', 'income', 'People_Family', 'education',
       'GlycoHemoglobin', 'ArmCircum', 'SaggitalAbdominal', 'GripStrength',
       'Taking_Insulin', 'Taking_Oral_Agents', 'Eyes_Affected', 'Recent_BP',
       'Diabetes']
for col in cols:
  protbp.itypes[col] = 'quasi' 
coli = ['Taking_Insulin', 'Taking_Oral_Agents', 'Eyes_Affected']

for i in coli:
  protbp.itypes[i]='insensitive'
protbp.itypes.Diabetes = 'insensitive'
protbp.itypes

ID                    IDENTIFYING
age                         QUASI
gender                      QUASI
native-country              QUASI
race                        QUASI
marital-status              QUASI
workclass                   QUASI
occupation                  QUASI
income                      QUASI
People_Family               QUASI
education                   QUASI
GlycoHemoglobin             QUASI
ArmCircum                   QUASI
SaggitalAbdominal           QUASI
GripStrength                QUASI
Taking_Insulin        INSENSITIVE
Taking_Oral_Agents    INSENSITIVE
Eyes_Affected         INSENSITIVE
Recent_BP                   QUASI
Diabetes              INSENSITIVE
dtype: object

In [0]:
protbp.hierarchies.Recent_BP = OrderHierarchy('interval', 10, 2, 2)

In [74]:
priv_bp = protbp.protect()
priv_bp.nunique()

ID                     1
age                    5
gender                 3
native-country        16
race                   6
marital-status         8
workclass              1
occupation             1
income                 3
People_Family          1
education              1
GlycoHemoglobin        1
ArmCircum              1
SaggitalAbdominal      1
GripStrength           1
Taking_Insulin         2
Taking_Oral_Agents     2
Eyes_Affected          2
Recent_BP              3
Diabetes               3
dtype: int64

In [75]:
priv_bp.head()

  ID       age  gender  ... Eyes_Affected        Recent_BP Diabetes
0  *  [17, 36]    Male  ...             1    [88.0, 135.0]        2
1  *  [37, 56]    Male  ...             1    [88.0, 135.0]        2
2  *  [17, 36]    Male  ...             1  [136.0, 7777.0]        2
3  *  [37, 56]    Male  ...             0  [136.0, 7777.0]        0
4  *  [17, 36]  Female  ...             0  [136.0, 7777.0]        0

[5 rows x 20 columns]

In [0]:
priv_bp.to_csv(root_path + '/bp_general.csv',index=False)

In [0]:
df3 = pd.read_csv(root_path + '/bp_general.csv')

In [0]:
df.iloc[:,-2] = df3.iloc[:,-2]

In [0]:
df.to_csv(root_path + '/new_data.csv',index=False)

In [81]:
df.head()

      ID       age  gender  ... Eyes_Affected        Recent_BP Diabetes
0  73557  [17, 36]    Male  ...             1    [88.0, 135.0]        2
1  73558  [37, 56]    Male  ...             1    [88.0, 135.0]        2
2  73559  [17, 36]    Male  ...             1  [136.0, 7777.0]        2
3  73560  [37, 56]    Male  ...             0  [136.0, 7777.0]        0
4  73561  [17, 36]  Female  ...             0  [136.0, 7777.0]        0

[5 rows x 20 columns]

In [0]:
protpeople = Protect(df , KAnonymity(5))

In [0]:
protpeople.suppression = .1

In [84]:
protpeople.itypes.ID = 'identifying'
cols = ['age', 'gender', 'native-country', 'race', 'marital-status',
       'workclass', 'occupation', 'income', 'People_Family', 'education',
       'GlycoHemoglobin', 'ArmCircum', 'SaggitalAbdominal', 'GripStrength',
       'Taking_Insulin', 'Taking_Oral_Agents', 'Eyes_Affected', 'Recent_BP',
       'Diabetes']
for col in cols:
  protpeople.itypes[col] = 'quasi' 
coli = ['Taking_Insulin', 'Taking_Oral_Agents', 'Eyes_Affected']

for i in coli:
  protpeople.itypes[i]='insensitive'
protpeople.itypes.Diabetes = 'insensitive'
protpeople.itypes

ID                    IDENTIFYING
age                         QUASI
gender                      QUASI
native-country              QUASI
race                        QUASI
marital-status              QUASI
workclass                   QUASI
occupation                  QUASI
income                      QUASI
People_Family               QUASI
education                   QUASI
GlycoHemoglobin             QUASI
ArmCircum                   QUASI
SaggitalAbdominal           QUASI
GripStrength                QUASI
Taking_Insulin        INSENSITIVE
Taking_Oral_Agents    INSENSITIVE
Eyes_Affected         INSENSITIVE
Recent_BP                   QUASI
Diabetes              INSENSITIVE
dtype: object

In [0]:
protpeople.hierarchies.People_Family = OrderHierarchy('interval',5, 2, 2)

In [102]:
privpeople = protpeople.protect()
privpeople.nunique()

ID                     1
age                    5
gender                 3
native-country        20
race                   6
marital-status         8
workclass              1
occupation             1
income                 3
People_Family          2
education              1
GlycoHemoglobin        1
ArmCircum              1
SaggitalAbdominal      1
GripStrength           1
Taking_Insulin         2
Taking_Oral_Agents     2
Eyes_Affected          2
Recent_BP              3
Diabetes               3
dtype: int64

In [103]:
privpeople.head()

  ID       age  gender  ... Eyes_Affected        Recent_BP Diabetes
0  *  [17, 36]    Male  ...             1    [88.0, 135.0]        2
1  *  [37, 56]    Male  ...             1    [88.0, 135.0]        2
2  *  [17, 36]    Male  ...             1  [136.0, 7777.0]        2
3  *  [37, 56]    Male  ...             0  [136.0, 7777.0]        0
4  *  [17, 36]  Female  ...             0  [136.0, 7777.0]        0

[5 rows x 20 columns]

In [0]:
privpeople.to_csv(root_path + '/people_general.csv',index=False)

In [0]:
df.iloc[:,9] = privpeople.iloc[:,9]

In [106]:
df.head()

      ID       age  gender  ... Eyes_Affected        Recent_BP Diabetes
0  73557  [17, 36]    Male  ...             1    [88.0, 135.0]        2
1  73558  [37, 56]    Male  ...             1    [88.0, 135.0]        2
2  73559  [17, 36]    Male  ...             1  [136.0, 7777.0]        2
3  73560  [37, 56]    Male  ...             0  [136.0, 7777.0]        0
4  73561  [17, 36]  Female  ...             0  [136.0, 7777.0]        0

[5 rows x 20 columns]

In [0]:
df.to_csv(root_path + '/new_data.csv' , index=False)

In [0]:
protglyco = Protect(df , KAnonymity(5))

In [0]:
protglyco.suppression = .1

In [0]:
protglyco.itypes.ID = 'identifying'
cols = ['age', 'gender', 'native-country', 'race', 'marital-status',
       'workclass', 'occupation', 'income', 'People_Family', 'education',
       'GlycoHemoglobin', 'ArmCircum', 'SaggitalAbdominal', 'GripStrength',
       'Taking_Insulin', 'Taking_Oral_Agents', 'Eyes_Affected', 'Recent_BP',
       'Diabetes']
for col in cols:
  protglyco.itypes[col] = 'quasi' 
coli = ['Taking_Insulin', 'Taking_Oral_Agents', 'Eyes_Affected']

for i in coli:
  protglyco.itypes[i]='insensitive'
protglyco.itypes.Diabetes = 'insensitive'

In [0]:
protglyco.hierarchies.GlycoHemoglobin = OrderHierarchy('interval',8, 2, 2)

In [134]:
privglyco = protglyco.protect()
privglyco.nunique()

ID                     1
age                    5
gender                 3
native-country        19
race                   6
marital-status         8
workclass              1
occupation             1
income                 3
People_Family          2
education              1
GlycoHemoglobin        4
ArmCircum              1
SaggitalAbdominal      1
GripStrength           1
Taking_Insulin         2
Taking_Oral_Agents     2
Eyes_Affected          2
Recent_BP              3
Diabetes               3
dtype: int64

In [135]:
privglyco.head()

  ID       age  gender  ... Eyes_Affected        Recent_BP Diabetes
0  *         *       *  ...             1                *        2
1  *  [37, 56]    Male  ...             1    [88.0, 135.0]        2
2  *         *       *  ...             1                *        2
3  *  [37, 56]    Male  ...             0  [136.0, 7777.0]        0
4  *  [17, 36]  Female  ...             0  [136.0, 7777.0]        0

[5 rows x 20 columns]

In [0]:
privglyco.to_csv(root_path + '/glyco_general.csv',index=False)
df.iloc[:,11] = privglyco.iloc[:,11]
df.head()
df.to_csv(root_path + '/new_data.csv' , index=False)

In [150]:
df.nunique()

ID                    9813
age                      5
gender                   2
native-country          41
race                     5
marital-status           7
workclass                9
occupation              15
income                   2
People_Family            2
education               16
GlycoHemoglobin          4
ArmCircum              408
SaggitalAbdominal      271
GripStrength          1128
Taking_Insulin           2
Taking_Oral_Agents       2
Eyes_Affected            2
Recent_BP                3
Diabetes                 3
dtype: int64

In [0]:
protarm = Protect(df , KAnonymity(5))
protarm.suppression = .1

In [151]:
protarm.itypes.ID = 'identifying'
cols = ['age', 'gender', 'native-country', 'race', 'marital-status',
       'workclass', 'occupation', 'income', 'People_Family', 'education',
       'GlycoHemoglobin', 'ArmCircum', 'SaggitalAbdominal', 'GripStrength',
       'Taking_Insulin', 'Taking_Oral_Agents', 'Eyes_Affected', 'Recent_BP',
       'Diabetes']
for col in cols:
  protarm.itypes[col] = 'quasi' 
coli = ['Taking_Insulin', 'Taking_Oral_Agents', 'Eyes_Affected']

for i in coli:
  protarm.itypes[i]='insensitive'
protarm.itypes.Diabetes = 'insensitive'
protarm.hierarchies.SaggitalAbdominal = OrderHierarchy('interval',6,1, 2)
privarm = protarm.protect()
privarm.nunique()

ID                     1
age                    1
gender                 1
native-country        13
race                   6
marital-status         1
workclass              1
occupation             1
income                 1
People_Family          2
education              1
GlycoHemoglobin        3
ArmCircum              1
SaggitalAbdominal     24
GripStrength           1
Taking_Insulin         2
Taking_Oral_Agents     2
Eyes_Affected          2
Recent_BP              1
Diabetes               3
dtype: int64

In [0]:
privarm.to_csv(root_path + '/sagital_general.csv',index=False)
df.iloc[:,13] = privarm.iloc[:,13]
df.to_csv(root_path + '/new_data.csv' , index=False)

In [153]:
df.head()

      ID       age  gender  ... Eyes_Affected        Recent_BP Diabetes
0  73557  [17, 36]    Male  ...             1    [88.0, 135.0]        2
1  73558  [37, 56]    Male  ...             1    [88.0, 135.0]        2
2  73559  [17, 36]    Male  ...             1  [136.0, 7777.0]        2
3  73560  [37, 56]    Male  ...             0  [136.0, 7777.0]        0
4  73561  [17, 36]  Female  ...             0  [136.0, 7777.0]        0

[5 rows x 20 columns]